.wrapper {
  margin: 1rem;
  max-width: calc(100vw - 1rem);
  background: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  border-radius: 7px;
  padding: 4rem 2rem;
  text-align: center;

  min-height: 50rem;
}

section {
  margin: 2rem 0;
  padding: 2rem;
  border-bottom: 1px solid var(--color-grey-light-4);
}
